/* mystyle.css */

.row.mb-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-sm-5 .form-check,
.col-sm-5 button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.col-sm-5 .form-check{
    margin-left: 190px;
}

.btn-secondary {
    margin-left: 190px;
}

.btn-success {
    margin-left: 1000px;
}






